/* google inter fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


/* shared styles */
.container {
    width: 85px;
    max-width: 1360px;
    margin: 0px auto;
}

.primary-btn {
    padding: 12px 16px;
    color: #fff;
    background: #30B868;
    cursor: pointer;
    border-radius: 4px;
}

.primary-btn:hover {
    color: #fff;
    background: #000;
    transition: all .3s;
}

.secondary-btn {
    padding: 12px 16px;
    color: #fff;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 1);
    cursor: pointer;
    border-radius: 4px;
}

.secondary-btn:hover {
    color: #fff;
    background: #000;
    transition: all .3s;
    border: 1px solid rgba(0, 0, 0, 1);
}