/* google inter fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


/* shared styles */
.container {
    width: 85%;
    max-width: 1360px;
    margin: 0px auto;
}

.primary-btn {
    padding: 12px 16px 12px 16px;
    color: #fff;
    background: #30B868;
    cursor: pointer;
    border-radius: 4px;
    border: none;
}

.primary-btn:hover {
    color: #fff;
    background: #000;
    transition: all .3s;
}

.secondary-btn {
    padding: 12px 16px;
    color: #fff;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 1);
    cursor: pointer;
    border-radius: 4px;
}

.secondary-btn:hover {
    color: #fff;
    background: #000;
    transition: all .3s;
    border: 1px solid rgba(0, 0, 0, 1);
}

.primary-text {
    color: #001931;
}

.secondary-text {
    color: #627382;
}

/* header */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 36px 0;
}

.nav .logo img {
    width: 100px;
}

.nav ul {
    display: flex;
    justify-content: center;
    gap: 32px;
    align-items: center;
}

.nav li {
    list-style-type: none;
}

.nav li a {
    text-decoration: none;
    font-size: 16px;
    color: #000;
}

.nav li:hover a {
    color: chocolate;
    transition: all .3s;
}

/* hero area */
.hero-section {
    background: url(./assets/hero-bg.png);
    padding-top: 155px;
    padding-bottom: 190px;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-content {
    text-align: center;
}

.hero-btn {
    display: flex;
    gap: 6px;
    margin: 0 auto;
    padding: 8px 12px 8px 12px;
    background: #fff;
    color: #30B868;
    border-radius: 50px;
    margin-bottom: 16px;
}

.hero-btn:hover {
    color: #000;
    transition: all .3s;
}

.hero-content {
    width: 770px;
    max-width: 770px;
    margin: 0 auto;
}

.hero-content h1 {
    font-size: 72px;
    line-height: 84px;
    color: #30B868;
    margin-bottom: 16px;
}

.hero-content h1 span {
    font-size: 72px;
    line-height: 84px;
    color: white;
}

.hero-content p {
    font-size: 18px;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 32px;
}

.btn-group {
    display: flex;
    justify-content: center;
    gap: 16px;
}

/* note section */
.notes-section {
    background: rgba(251, 251, 251, 1);
}

.note-content {
    text-align: center;
    padding-top: 16px;
}

.note-content h2 {
    font-size: 48px;
    line-height: 58px;
    color: #001931;
    margin-bottom: 16px;
    margin-top: 24px;
}

.note-content p {
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 44px;
}

.note-box {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.note-box .note-card {
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
}

.note-content h4 {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 16px;
}

.note-content .note-icon {
    width: 60px;
    height: 60px;
    background: rgba(249, 85, 85, 1);
    border-radius: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 16px;
}

.note-content .note-icon img {
    width: 27px;
}

/* solution area */
.solution-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.solution {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.solution-info h4 {
    color: rgba(70, 145, 101, 1);
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 16px;
}


.solution-info h3 {
    font-size: 48px;
    line-height: 58px;
    text-transform: capitalize;
    margin-bottom: 16px;
}

.solution-info p.description {
    font-size: 16px;
    line-height: 20px;
    color: rgba(98, 115, 130, 1);
    margin-bottom: 40px;
}

.solution-list .list-items {
    display: flex;
    align-items: center;
    gap: 8px;
    color: rgba(0, 25, 49, 1);
    margin-bottom: 18px;
}